VAPID_PUBLIC_KEY="BFPELunAa0OR_2pIsRWZxXOdJ83WyR47r4eSiT_-sdy-MVG7gmbbG9Xiz1Tlxc7HLbmyfXllrupunZ6qVdj9Bg0"
VAPID_PRIVATE_KEY=ki2xtlBlye5y_GwlKqwy8WylaNeG2Il1MUms8TDCH60
TFL_APP_KEY=f6de10a6e45f4c55b9e4de791bbc60c0
EMAIL=mailto:test@test.com